<div id="medmri">

    <div class="container" style="width:75%; margin-bottom: 40px;">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">New MRI</div>
        <div class="card-body">
          <img src="/images/under_construction.png" width="300">
        </div>
      </div>
    </div>

</div>