<div id="medreport">

  
    <div class="container" style="width:75%; margin-bottom: 40px;">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">New Medical Report</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Patient's Name</label>
                  <input class="form-control" id="patient-name" type="text">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Patient's Lastname</label>
                  <input class="form-control" id="patient-lastname" type="text">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">ID Number</label>
                  <input class="form-control" id="patient-id" type="text">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Home Address</label>
                  <input class="form-control" id="patient-address" type="text">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Date of Consultation</label>
                  <input class="form-control" id="date-consult" type="date">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Blood Type</label>
                  <input class="form-control" id="patient-bt" type="text">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputName">Alergies</label>
                  <textarea class="form-control" id="patient-alergies" rows="10" cols="20"></textarea> 
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="#">Submit</a>
          </form>
        </div>
      </div>
    </div>
  

</div>